.spotReviewsContainer{
    /* width: 1000px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */;
    /* width: 100%; */
    box-sizing: border-box;
    margin-bottom: 40px;

}

.rev-header{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.eachReview{
    width: 90%;
    height: fit-content;
}

#review{
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
    /* overflow-y: auto; */
    /* text-overflow: ellipsis; */
    word-break: break-all;
    white-space: normal;
    /* max-width: 90; */
    height: fit-content;
}

.reviewer{
    display: flex;
    flex-direction: column;
    width: 160px;
    font-size: 15px;
}

#reviewer-name{
    font-weight: bold;
}

#deleteButtOnRev{
    height: 30px;
}

.revDeleteButt{

}
