.reviewForm {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.reviewBox{
    width: 98.2%;
    height: 100px;
}

.holdMyStars{
    display: flex;
    /* justify-content: space-evenly; */
}

.ratingContainer{
    display: flex;
    align-self: center;
    font-size: 30px;
    margin-bottom: 20px;
    /* justify-content: flex-start; */
}
.currSpotName {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.star {
    background-color: white;
    font-size: 100px;
    font-weight: 600;
    margin:0;
    border: none;
    /* background-color: aquamarine; */
    color: rgb(82, 81, 81);
}

.star:hover{
    filter: saturate(200%);
    color: rgb(255, 0, 13);
}


.star1{
    left: 100px;
}
.star2{
    left: 42px
}
.star3{
    right:15px;
}
.star4{
    right:72px;
}
.star5{
    right:130px;
}


#leaveRevButt {
    height: 50px;
    width: 550px;
}

.revSubmitContainer {
    display: flex;
    justify-content: center;
}

#revSubmit {
    height: 40px;
    width: 150px;
}
