.spotMasterContainer {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-self: center; */
    /* max-width: 1280px; */
    /* width: 1103px; */
    padding:0 80px 0 80px;
    margin-top: 105px;
}

.detailsContainer, h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: #222222;
    display: inline;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.spotDescription > * {
    display: inline;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.spotRevs, .spotLocate {
    text-decoration: underline;
}

.spotDetailsImages{
    display: grid;
    box-sizing: border-box;
    /* grid-template-columns: repeat(autofit, minmax(400px, 3fr)); */
    /* grid-template-rows: repeat(autoft, minmax(400px, 2fr)); */
    width:100%;
    height:500px
}

.eachImg{
    /* position: inherit; */
    width:500px;
    height:500px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
