.spotMasterContainer {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-self: center; */
    /* max-width: 1280px; */
    /* width: 1103px; */
    padding:0 80px 0 80px;
    margin-top: 105px;
}

.detailsContainer, h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: #222222;
    display: inline;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.spotDescription > * {
    display: inline;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.spotRevs, .spotLocate {
    text-decoration: underline;
}
