.createSpotForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.createInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    height: fit-content;
    max-width: 400px;

}

.createInputContainer > input {
    line-height: 40px;
    width: 100%;
    overflow:auto;
}


.createbuttContainer{
    display: flex;
    flex-direction: column;
    width: 245px;
}
#postNewSpot {
    width: 100%;
    height:50px;

}

#testCreateSpot{
    width: 100%;
}
