.spotManagerMasterContainer{
    display: flex;

}
.saviorDiv {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.spotManager{
    display: grid;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    justify-items: center;
    width: 70vw;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)) ;
    grid-gap: 40px 26px;
    margin-top: 380px;
    /* left: 10%; */
    /* margin-left: -50%; */
}

.spotManagerName{
    font-size: 40px;
    font-weight: bold;
}

.managerBanner{
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(89, 43, 226, 0.603);
    color: white;
}

.spotManagerOff{
    display: flex;
    box-sizing: border-box;
    /* position: absolute; */
    flex-direction: row;
    /* flex-shrink: 1; */
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.managerBannerOff{
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(89, 43, 226, 0.603);
    color: white;
}

.spotManagerOff > #offModals{
    z-index: 1;
    opacity: 1;
    background-color: rgba(89, 43, 226, 0.603);
    border: none;
    color:rgb(250, 250, 250);
    width: 300px;
    height: 70px;
    font-size: 50px;
    margin-top: 130px;
    margin-left: 30%;
}

.eachSpotContainer {
    position:initial;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    /* font-size: 40px; */
    box-sizing: border-box;

}

.spotManagerImage {
    width: 100%;
    height: 400px;
}


.spotManageButtons {
    display: flex;
    justify-content: space-around;
}

.manageButtons {
    scale: 2;
    font-size: 40px;
}
