.navBar {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 5;
    /* padding: 20px 2%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: rbg(255,0,0) dashed 10px; */

}

    .navContent {
        /* text-decoration: none solid rgb(72,72,72); */

        /* padding-right: 10px; */

    }

#icon {
    position: relative;
    top:0;
    right: 50px;
    scale: .5;

}
